<%= form_with(model: fornecedor) do |form| %>
  <% if fornecedor.errors.any? %>
    <div style="color: red">
      <h2>
      Contém <%= pluralize(fornecedor.errors.count, "error") %> erros para ser resolvidos abaixo </h2>

      <ul>
        <% fornecedor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :fornecedor_tipo_id, style: "display: block" %>
    <%= form.collection_select :fornecedor_tipo_id, FornecedorTipo.all, :id, :nome, { prompt: "Selecione o tipo de fornecedor" }, { class: "form-control" } %>

  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj, class:"form-control" %>
  </div>

  <div>
    <%= form.label :endereco, style: "display: block" %>
    <%= form.text_area :endereco, class:"form-control" %>
  </div>

  <div>
    <%= form.label :cep, style: "display: block" %>
    <%= form.text_field :cep, class:"form-control" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
