<div id="<%= dom_id fornecedor %>">

  <p>
    <strong>Tipo:</strong>
    <%= fornecedor.fornecedor_tipo&.nome %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= fornecedor.nome %>
  </p>

  <p>
    <strong>cnpj:</strong>
    <%= fornecedor.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= fornecedor.endereco %>
  </p>

  <p>
    <strong>Data de criação:</strong>
    <%= formata_hora(fornecedor.created_at) %>
  </p>

</div>
