<%= form_with(model: fornecedor) do |form| %>
  <% if fornecedor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
        <% fornecedor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div>
    <%= form.label :endereco, style: "display: block" %>
    <%= form.text_area :endereco %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
